html{
  scroll-behavior: smooth;
}
 
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto,sans-serif' ;
}
.section-title h3{
    font-weight: bolder;
    margin-bottom: 0;
}
 .hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
 }

     /* header start here */
header{
    background-image: url(./school.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.navbar{
    padding: 1% 7%;
    background-color: rgba(0,0,0,0.3);}
.banner-container{
    height:100vh;
}
.navbar-icon{
    background-color: white;
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
    color: white;
   background-color: aqua;
   transform: scale(1.1);
}

.banner-container h1{
    font-size: 3.5rem;
    background-color: blue;
    padding: 10px 20px;
    border-radius:5px ;
    
}
   /* header ends here */

   /* feature start here */
    #feature{
        padding: 5% 10%;
        background-color: #e8ded2;
    }

.feature-col{

    border: 1px solid #ff02c0;
    border-radius: 5px;
    padding: 15px;
    transition:.3s;
    margin: 20px 0;

}
.feature-col:hover{

    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background-color: #ff02c0;
    padding: 15px;
    margin: 5px 0;
    color: white;
}

    /* feature end here */
    /* about me start here  */
        #about-me{
            padding: 4% 8%;
            background-color: #e8ded2;
        }
      #about-me p{

      }

      #about-me a {
        font-size: 0.9rem;
        margin-bottom: 0;
        font-weight:light;
        
      }
        /* about me end here  */

          /* card start here */
             #tutorial{
                padding: 4% 8%;
                background-color: aqua;
             }

             .card{
                transition: .4s;
                border: 1px solid lightpink;
             }
             .card:hover{
                transform: scale(1.1);
                
             }
           /* card end here */